html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  display: block;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  border-radius: 8px;
  line-height: 1.5;
  background-color: #999;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: #fff;
  overflow: hidden;
}

img {
  width: 100px;
  float: left;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  text-decoration: none;
  list-style-type: none;
  font-style: bold;
  background-color: #999;
}

p {
  font-family: 'Georgia', serif;
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: .875em;
}

h3 {
  color: #333;
  font-size: .675em;
}

.card-1 {
  float: left;
  width: 25%;
  padding: .75em;
}

.card-2 {
  float: left;
  width: 25%;
  padding: .75em;
}

.card-3{
  float: left;
  width: 25%;
  padding: .75em;
}

.card-4 {
  float: left;
  width: 25%;
  padding: .75em;
}
